Source: python-llfuse
Section: python
XS-Python-Version: >= 2.6
Priority: optional
Maintainer: Nikolaus Rath <Nikolaus@rath.org>
Build-Depends: debhelper (>= 7.0.50~), libfuse-dev (>= 2.8.0), libattr1-dev, python-support, python-all, python-all-dbg, python-all-dev, python-sphinx, pkg-config, python-distribute | python-setuptools 
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/python-llfuse/

Package: python-llfuse
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, libjs-jquery
Conflicts: s3ql (<= 0.28)
Description: Python bindings for the low-level FUSE API
 Python-llfuse is a set of Python bindings for the low level FUSE API.

Package: python-llfuse-dbg
Section: debug
Priority: extra
Architecture: any
Depends: python-llfuse (= ${binary:Version}), python-dbg, ${shlibs:Depends}, ${misc:Depends}
Description: Python bindings for the low-level FUSE API
 Python-llfuse is a set of Python bindings for the low level FUSE API.
 .
 This package contains the extension built for the Python debug interpreter.
