#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

PYVERS=$(shell pyversions -vr)

build: build-stamp

build-stamp: $(PYVERS:%=build-python%) $(PYVERS:%=build-dbg-python%)
	touch $@

build-python%:
	dh_testdir
	python$* setup.py build 
	touch $@

build-dbg-python%:
	dh_testdir
	python$*-dbg setup.py build -g
	touch $@

install: build install-prereq $(PYVERS:%=install-python%) $(PYVERS:%=install-dbg-python%) 

install-prereq:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

install-python%: 
	python$* setup.py install --force --root=$(CURDIR)/debian/python-llfuse \
                                  --no-compile -O0 --install-layout=deb

install-dbg-python%: 
	python$*-dbg setup.py install --force --root=$(CURDIR)/debian/python-llfuse-dbg \
                                  --no-compile -O0 --install-layout=deb
	find debian/python-llfuse-dbg ! -type d ! -name '*.so' | xargs rm -f
	find debian/python-llfuse-dbg -depth -empty -exec rmdir {} \;

clean:
	python setup.py clean -a
	dh_clean
	rm -rf build-dbg-python* build-python* build-stamp

binary: binary-arch binary-indep

binary-arch: build install
	dh_testroot -a
	dh_testdir -a
	dh_install -a
	dh_installchangelogs -a Changes.txt
	dh_installdocs -a
	dh_fixperms -a
	chmod +x debian/python-llfuse/usr/share/doc/python-llfuse/contrib/*.py 
	dh_pysupport -a
	dh_lintian -a
	dh_strip -a -ppython-llfuse --dbg-package=python-llfuse-dbg
	rm -rf debian/python-llfuse-dbg/usr/share/doc/python-llfuse-dbg
	ln -s python-llfuse debian/python-llfuse-dbg/usr/share/doc/python-llfuse-dbg
	cd debian/python-llfuse/usr/share/doc/python-llfuse && \
                ln -sf ../../../../javascript/jquery/jquery.js html/_static/jquery.js
	dh_compress -a -X.txt -X.js -X.py -X.json
	dh_makeshlibs -a
	dh_shlibdeps -a
	dh_md5sums -a 
	dh_installdeb -a
	dh_gencontrol -a
	dh_builddeb -a

binary-indep: 


.PHONY: build clean binary binary-arch binary-indep install 
